*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  color: white;
  background-color:  #343541;
  font-family: Lato, sans-serif;
  height: 100%;
}
.aplicacion-chat{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  height: 100%;
}
.aplicacion-chat .chat-container:first-child{
  justify-self: flex-start;
}
.fape-logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fape-logo{
  width: 100px;
}
.charla-ticket-principal {
  width: 100%;
  height: 80%;
  max-width: 1200px;
  background-color: #343541;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 26px;
}